<div>
  <h2 id="page-heading" data-cy="AppLoggingHeading">
    <span jhiTranslate="notificationserviceApiApp.appLogging.home.title">App Loggings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.appLogging.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-logging"
        [routerLink]="['/app-logging/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.appLogging.home.createLabel"> Create a new App Logging </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appLoggings?.length === 0">
    <span jhiTranslate="notificationserviceApiApp.appLogging.home.notFound">No App Loggings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="appLoggings && appLoggings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comments">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.appLogging.comments">Comments</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actionType">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.appLogging.actionType">Action Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.appLogging.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="application.id">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.appLogging.application">Application</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appLogging of appLoggings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-logging', appLogging.id, 'view']">{{ appLogging.id }}</a>
          </td>
          <td>{{ appLogging.comments }}</td>
          <td jhiTranslate="{{ 'notificationserviceApiApp.ActionType.' + appLogging.actionType }}">{{ appLogging.actionType }}</td>
          <td>{{ appLogging.createdDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="appLogging.application">
              <a [routerLink]="['/application', appLogging.application.id, 'view']">{{ appLogging.application.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-logging', appLogging.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-logging', appLogging.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appLogging)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appLoggings && appLoggings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
