<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sMSHostConfig">
      <h2 data-cy="sMSHostConfigDetailsHeading">
        <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.detail.title">SMS Host Config</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sMSHostConfig.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.hostEndpoint">Host Endpoint</span></dt>
        <dd>
          <span>{{ sMSHostConfig.hostEndpoint }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.token">Token</span></dt>
        <dd>
          <span>{{ sMSHostConfig.token }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.senderNumber">Sender Number</span></dt>
        <dd>
          <span>{{ sMSHostConfig.senderNumber }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ sMSHostConfig.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdBy">Created By</span></dt>
        <dd>
          <span>{{ sMSHostConfig.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ sMSHostConfig.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ sMSHostConfig.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMSHostConfig.application">Application</span></dt>
        <dd>
          <div *ngIf="sMSHostConfig.application">
            <a [routerLink]="['/application', sMSHostConfig.application.id, 'view']">{{ sMSHostConfig.application.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sms-host-config', sMSHostConfig.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
