<div>
  <h2 id="page-heading" data-cy="EmailHostConfigHeading">
    <span jhiTranslate="notificationserviceApiApp.emailHostConfig.home.title">Email Host Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.emailHostConfig.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-email-host-config"
        [routerLink]="['/email-host-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.emailHostConfig.home.createLabel"> Create a new Email Host Config </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emailHostConfigs?.length === 0">
    <span jhiTranslate="notificationserviceApiApp.emailHostConfig.home.notFound">No Email Host Configs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emailHostConfigs && emailHostConfigs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="senderEmail">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.senderEmail">Sender Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="host">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.host">Host</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="port">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.port">Port</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="protocol">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.protocol">Protocol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="username">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.password">Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedDate">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.updatedDate">Updated Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="application.id">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.emailHostConfig.application">Application</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emailHostConfig of emailHostConfigs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/email-host-config', emailHostConfig.id, 'view']">{{ emailHostConfig.id }}</a>
          </td>
          <td>{{ emailHostConfig.senderEmail }}</td>
          <td>{{ emailHostConfig.host }}</td>
          <td>{{ emailHostConfig.port }}</td>
          <td jhiTranslate="{{ 'notificationserviceApiApp.SecurityProtocol.' + emailHostConfig.protocol }}">
            {{ emailHostConfig.protocol }}
          </td>
          <td>{{ emailHostConfig.username }}</td>
          <td>{{ emailHostConfig.password }}</td>
          <td>{{ emailHostConfig.createdDate | formatMediumDatetime }}</td>
          <td>{{ emailHostConfig.createdBy }}</td>
          <td>{{ emailHostConfig.updatedDate | formatMediumDatetime }}</td>
          <td>{{ emailHostConfig.updatedBy }}</td>
          <td>
            <div *ngIf="emailHostConfig.application">
              <a [routerLink]="['/application', emailHostConfig.application.id, 'view']">{{ emailHostConfig.application.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/email-host-config', emailHostConfig.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/email-host-config', emailHostConfig.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emailHostConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="emailHostConfigs && emailHostConfigs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
