<div>
  <h2 id="page-heading" data-cy="SMSHostConfigHeading">
    <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.home.title">SMS Host Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sms-host-config"
        [routerLink]="['/sms-host-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.home.createLabel"> Create a new SMS Host Config </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sMSHostConfigs?.length === 0">
    <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.home.notFound">No SMS Host Configs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sMSHostConfigs && sMSHostConfigs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hostEndpoint">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.hostEndpoint">Host Endpoint</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="token">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.token">Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="senderNumber">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.senderNumber">Sender Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedDate">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedDate">Updated Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="application.id">
            <div class="d-flex">
              <span jhiTranslate="notificationserviceApiApp.sMSHostConfig.application">Application</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sMSHostConfig of sMSHostConfigs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sms-host-config', sMSHostConfig.id, 'view']">{{ sMSHostConfig.id }}</a>
          </td>
          <td>{{ sMSHostConfig.hostEndpoint }}</td>
          <td>{{ sMSHostConfig.token }}</td>
          <td>{{ sMSHostConfig.senderNumber }}</td>
          <td>{{ sMSHostConfig.createdDate | formatMediumDatetime }}</td>
          <td>{{ sMSHostConfig.createdBy }}</td>
          <td>{{ sMSHostConfig.updatedDate | formatMediumDatetime }}</td>
          <td>{{ sMSHostConfig.updatedBy }}</td>
          <td>
            <div *ngIf="sMSHostConfig.application">
              <a [routerLink]="['/application', sMSHostConfig.application.id, 'view']">{{ sMSHostConfig.application.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sms-host-config', sMSHostConfig.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sms-host-config', sMSHostConfig.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sMSHostConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sMSHostConfigs && sMSHostConfigs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
