<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="emailHostConfig">
      <h2 data-cy="emailHostConfigDetailsHeading">
        <span jhiTranslate="notificationserviceApiApp.emailHostConfig.detail.title">Email Host Config</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ emailHostConfig.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.senderEmail">Sender Email</span></dt>
        <dd>
          <span>{{ emailHostConfig.senderEmail }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.host">Host</span></dt>
        <dd>
          <span>{{ emailHostConfig.host }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.port">Port</span></dt>
        <dd>
          <span>{{ emailHostConfig.port }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.protocol">Protocol</span></dt>
        <dd>
          <span jhiTranslate="{{ 'notificationserviceApiApp.SecurityProtocol.' + emailHostConfig.protocol }}">{{
            emailHostConfig.protocol
          }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.username">Username</span></dt>
        <dd>
          <span>{{ emailHostConfig.username }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.password">Password</span></dt>
        <dd>
          <span>{{ emailHostConfig.password }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ emailHostConfig.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.createdBy">Created By</span></dt>
        <dd>
          <span>{{ emailHostConfig.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ emailHostConfig.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ emailHostConfig.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.emailHostConfig.application">Application</span></dt>
        <dd>
          <div *ngIf="emailHostConfig.application">
            <a [routerLink]="['/application', emailHostConfig.application.id, 'view']">{{ emailHostConfig.application.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/email-host-config', emailHostConfig.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
