<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="email">
      <h2 data-cy="emailDetailsHeading"><span jhiTranslate="notificationserviceApiApp.email.detail.title">Email</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ email.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.email.to">To</span></dt>
        <dd>
          <span>{{ email.to }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.email.bcc">Bcc</span></dt>
        <dd>
          <span>{{ email.bcc }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.email.cc">Cc</span></dt>
        <dd>
          <span>{{ email.cc }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.email.body">Body</span></dt>
        <dd>
          <span>{{ email.body }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.email.subject">Subject</span></dt>
        <dd>
          <span>{{ email.subject }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/email', email.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
