<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="application">
      <h2 data-cy="applicationDetailsHeading">
        <span jhiTranslate="notificationserviceApiApp.application.detail.title">Application</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ application.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.appName">App Name</span></dt>
        <dd>
          <span>{{ application.appName }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ application.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.createdBy">Created By</span></dt>
        <dd>
          <span>{{ application.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ application.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ application.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.apiToken">Api Token</span></dt>
        <dd>
          <div *ngIf="application.apiToken">
            <a [routerLink]="['/api-token', application.apiToken.id, 'view']">{{ application.apiToken.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.application.mDA">M DA</span></dt>
        <dd>
          <div *ngIf="application.mDA">
            <a [routerLink]="['/mda', application.mDA.id, 'view']">{{ application.mDA.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/application', application.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
