<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-application-heading"
        data-cy="ApplicationCreateUpdateHeading"
        jhiTranslate="notificationserviceApiApp.application.home.createOrEditLabel"
      >
        Create or edit a Application
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.appName" for="field_appName">App Name</label>
          <input type="text" class="form-control" name="appName" id="field_appName" data-cy="appName" formControlName="appName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.updatedDate" for="field_updatedDate"
            >Updated Date</label
          >
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.updatedBy" for="field_updatedBy">Updated By</label>
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.apiToken" for="field_apiToken">Api Token</label>
          <select
            class="form-control"
            id="field_apiToken"
            data-cy="apiToken"
            name="apiToken"
            formControlName="apiToken"
            [compareWith]="compareApiToken"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="apiTokenOption" *ngFor="let apiTokenOption of apiTokensSharedCollection">{{ apiTokenOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.application.mDA" for="field_mDA">M DA</label>
          <select class="form-control" id="field_mDA" data-cy="mDA" name="mDA" formControlName="mDA" [compareWith]="compareMDA">
            <option [ngValue]="null"></option>
            <option [ngValue]="mDAOption" *ngFor="let mDAOption of mDASSharedCollection">{{ mDAOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
