<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-email-heading" data-cy="EmailCreateUpdateHeading" jhiTranslate="notificationserviceApiApp.email.home.createOrEditLabel">
        Create or edit a Email
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.email.to" for="field_to">To</label>
          <input type="text" class="form-control" name="to" id="field_to" data-cy="to" formControlName="to" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.email.bcc" for="field_bcc">Bcc</label>
          <input type="text" class="form-control" name="bcc" id="field_bcc" data-cy="bcc" formControlName="bcc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.email.cc" for="field_cc">Cc</label>
          <input type="text" class="form-control" name="cc" id="field_cc" data-cy="cc" formControlName="cc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.email.body" for="field_body">Body</label>
          <input type="text" class="form-control" name="body" id="field_body" data-cy="body" formControlName="body" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.email.subject" for="field_subject">Subject</label>
          <input type="text" class="form-control" name="subject" id="field_subject" data-cy="subject" formControlName="subject" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
