<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mDA">
      <h2 data-cy="mDADetailsHeading"><span jhiTranslate="notificationserviceApiApp.mDA.detail.title">MDA</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mDA.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.name">Name</span></dt>
        <dd>
          <span>{{ mDA.name }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ mDA.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.createdBy">Created By</span></dt>
        <dd>
          <span>{{ mDA.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ mDA.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ mDA.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.mDA.userAccount">User Account</span></dt>
        <dd>
          <span>{{ mDA.userAccount?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mda', mDA.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
