<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appLogging">
      <h2 data-cy="appLoggingDetailsHeading"><span jhiTranslate="notificationserviceApiApp.appLogging.detail.title">App Logging</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appLogging.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.appLogging.comments">Comments</span></dt>
        <dd>
          <span>{{ appLogging.comments }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.appLogging.actionType">Action Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'notificationserviceApiApp.ActionType.' + appLogging.actionType }}">{{ appLogging.actionType }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.appLogging.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ appLogging.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.appLogging.application">Application</span></dt>
        <dd>
          <div *ngIf="appLogging.application">
            <a [routerLink]="['/application', appLogging.application.id, 'view']">{{ appLogging.application.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/app-logging', appLogging.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
