<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sms-host-config-heading"
        data-cy="SMSHostConfigCreateUpdateHeading"
        jhiTranslate="notificationserviceApiApp.sMSHostConfig.home.createOrEditLabel"
      >
        Create or edit a SMS Host Config
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.hostEndpoint" for="field_hostEndpoint"
            >Host Endpoint</label
          >
          <input
            type="text"
            class="form-control"
            name="hostEndpoint"
            id="field_hostEndpoint"
            data-cy="hostEndpoint"
            formControlName="hostEndpoint"
          />
          <div
            *ngIf="editForm.get('hostEndpoint')!.invalid && (editForm.get('hostEndpoint')!.dirty || editForm.get('hostEndpoint')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('hostEndpoint')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('token')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.senderNumber" for="field_senderNumber"
            >Sender Number</label
          >
          <input
            type="number"
            class="form-control"
            name="senderNumber"
            id="field_senderNumber"
            data-cy="senderNumber"
            formControlName="senderNumber"
          />
          <div
            *ngIf="editForm.get('senderNumber')!.invalid && (editForm.get('senderNumber')!.dirty || editForm.get('senderNumber')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('senderNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('senderNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedDate" for="field_updatedDate"
            >Updated Date</label
          >
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.updatedBy" for="field_updatedBy"
            >Updated By</label
          >
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="notificationserviceApiApp.sMSHostConfig.application" for="field_application"
            >Application</label
          >
          <select
            class="form-control"
            id="field_application"
            data-cy="application"
            name="application"
            formControlName="application"
            [compareWith]="compareApplication"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="applicationOption" *ngFor="let applicationOption of applicationsSharedCollection">
              {{ applicationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
