<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sMS">
      <h2 data-cy="sMSDetailsHeading"><span jhiTranslate="notificationserviceApiApp.sMS.detail.title">SMS</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sMS.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMS.recipent">Recipent</span></dt>
        <dd>
          <span>{{ sMS.recipent }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.sMS.message">Message</span></dt>
        <dd>
          <span>{{ sMS.message }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sms', sMS.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
