<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="apiToken">
      <h2 data-cy="apiTokenDetailsHeading"><span jhiTranslate="notificationserviceApiApp.apiToken.detail.title">Api Token</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ apiToken.id }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.token">Token</span></dt>
        <dd>
          <span>{{ apiToken.token }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'notificationserviceApiApp.Status.' + apiToken.status }}">{{ apiToken.status }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.expDate">Exp Date</span></dt>
        <dd>
          <span>{{ apiToken.expDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ apiToken.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ apiToken.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.createdBy">Created By</span></dt>
        <dd>
          <span>{{ apiToken.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="notificationserviceApiApp.apiToken.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ apiToken.updatedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/api-token', apiToken.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
